.link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #2a363b;
  font-size: 18px;
  margin-right: 10px;
}

.activeLink {
  composes: link;
  color: #2196f3;
}

.nav {
  margin-left: auto;
  margin-right: auto;
}
